.button{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 10px;
 padding: 6px 12px;
 border-radius: 20px;
 background-color: gray;
 transition: all 350ms ease-in-out;
 &:hover{
    background-color: rgb(0, 102, 255);
 }
}
.span{
   color: #fff;
   text-transform: uppercase;
   font-weight: 500;
   margin-left: 5px;
   
}
